fastapi==0.110.3
uvicorn[standard]==0.29.0
python-dotenv==1.0.1
pandas==2.2.3
numpy==1.26.4
opencv-python==4.10.0.84
ultralytics==8.3.88
pinecone-client>=3.0.0
cohere>=4.0.0
langchain==0.3.23
langchain-community>=0.0.29
langchain-core==0.3.51
langchain-cohere>=0.0.2
langchain-pinecone>=0.0.3
groq==0.7.0
rich==13.0.1
pydantic==2.7.4
